
mixin svg(classIco, name)
    svg(class= classIco)
        use(xlink:href='img/svg/symbols.svg#'+ name)

mixin listItem(text, className, href, name, secClass)
    if(href)
        li(class= className+'__item')
            if(secClass)
                #{secClass}
            a(class= className+'__link' href= href)= text
                if(name)
                    +svg(className+'__ico', name)
            if(secClass)
                #{secClass}
    else 
        li(class= className+'__item')= text

mixin headerSame()
    ul.hamburger__list
        - for(var i=0; i<3; i++){
            +listItem('','hamburger')
        - }
    ul.menu
        +listItem('Мои работы', 'menu', 'works.html', '', secClass)
        +listItem('Блог', 'menu', 'blog.html', '', secClass)
        +listItem('Обо мне', 'menu', 'about.html', '', secClass)
        +listItem('Авторизация', 'menu', '../', '', secClass)
    ul.social
        +listItem('', 'social', 'https://vk.com/id_r0mashka','vk')
        +listItem('', 'social', 'https://github.com/RomaTur', 'github')
        +listItem('', 'social', 'https://twitter.com/RoMan_111', 'in')
    
