mixin svg(classIco, name)
    svg(class= classIco)
        use(xlink:href='img/svg/symbols.svg#'+ name)

mixin listItem(text, className, href, name)
    if(href)
        li(class= className+'__item')
            a(class= className+'__link' href= href)= text
                if(name)
                    +svg(className+'__ico', name)
    else 
        li(class= className+'__item')= text
//- mixin listItem(text, className)
//-     li(class= className)= text
    
