.footer
    @extend %flex-center
    flex-direction: column
    @extend %bg-config
    @include bg-img('../img/works-footer-bg.jpg')
    // background-attachment: fixed
    &__arrow
        margin: 63px 0
        width: 29px
        height: 29px
        fill: fade-out($color-white, 0.4)
        transform: rotate(180deg)
        cursor: pointer
        transition: 0.2s
        @include tablet
            margin: 90px 0 50px 0
        @include phone
            margin: 45px 0 31px 0

        &:hover
            fill: fade-out($color-white, 0.1)