//- .content
//-     .content__left
//-         .page__title
//-             +svg('page__title-bg', 'about_header')
//-             .page__title-line
//-             h1.page__title-text Обо мне
//-             .page__title-line
//-     .content__right
//-         //- .page__title.page__title--can
//-         //-     .page__title-line
//-         //-     h2.page__title-text Чем я могу быть вам полезен
//-         //-     .page__title-line